venv/
.DS_Store
.idea
pm_2023.json
pm_2022.json
Plan_knm_full_2021.json
Plan_knm_full_2022.json
Plan_knm_full_2023.json
Plan_knm_full_2024.json
KNM_list_50.json
Exception_knm.json
Except_knm.json
Новый документ.xlsx
Отчет по нарушению сроков.xlsx
logging/
private_config.py